{% extends 'layout_inner.html' %}
{% block content %}
<div class="container" style="padding-top: 50px">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">修改信息</h3>
    </div>
    <div class="panel-body">个人信息</div>
    <form class="bs-example bs-example-form" data-example-id="input-group-with-button" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-6" style="padding-bottom: 10px; padding-left: 25px">
          {% csrf_token %}
          {% for field in form %}
          {{ field.label }} : {{ field }}
          <span style="color:red">{{ field.errors.0 }}</span>
          {% endfor %}
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit"
              style="margin-top: 10px;margin-left: 5px;border-radius:5px ;">提交</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
<!-- 主题内容 -->